@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../lib/baguetteBox.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--headerHeight: 60px;
	--primaryBackgroundColor: #009688;
	--primaryTextColor: #FFFFFF;
	--secondaryBackgroundColor: #448AFF;
	--secondaryTextColor: #000000;
	--defaultBackgroundColor: #EFEFEF;
	--defaultTextColor: #000000;

	--colorTextLabel: #787878;
	--colorInfoBackNavigation: #979797;

	--userAreaPhoto: 48px;
	--userAreaWidthDesktop: 400px;
}

html, body {
	height: 100%;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 1rem;
}

body {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

button,
input,
textarea {
	font-family: inherit;
}

/********************
 * Loader in header *
 ********************/
.loader-wrap {
	position: fixed;
	z-index: 3200;
	opacity: 0;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
}

.state--loading .loader-wrap {
	opacity: 1;
}

.state--loading .loader {
	animation: loaderWidth 900ms 1 ease-in-out;
}

.state--loaded .loader-wrap {
	opacity: 0;
	animation: loaderHide 350ms 1 ease-out;
}

.loader {
	height: 100%;
	background: var(--secondaryBackgroundColor);
	transition: all linear .5s;
}

@keyframes loaderWidth {
	0% { width: 0; }
	100% { width: 90%; }
}

@keyframes loaderHide {
	0% { opacity: 1; width: 80%; }
	90% { width: 100%; }
	100% { opacity: 0; }
}


/********************
 * Default elements *
 ********************/

a,
.a {
	color: var(--primaryBackgroundColor);
	text-decoration: none;
	cursor: pointer;
}

/**
 * Button
 */
button:not(.baguetteBox-button),
input[type="submit"],
input[type="button"],
.button {
	background: transparent;
	border: none;
	border-radius: 2px;
	color: #3f51b5;
	position: relative;
	min-width: 64px;
	padding: 0 8px;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0;
	-webkit-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1) 0s,
			background-color .2s cubic-bezier(.4, 0, .2, 1) 0s,
			color .2s cubic-bezier(.4, 0, .2, 1) 0s;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1) 0s,
			background-color .2s cubic-bezier(.4, 0, .2, 1) 0s,
			color .2s cubic-bezier(.4, 0, .2, 1) 0s;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}

.button-uc {
	text-transform: uppercase;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.button:hover {
	background-color: rgba(158, 158, 158, .2);
}

/**
 * Text fields
 */
input[type="text"],
input[type="password"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea {
	border: 1px solid #eaeaea;
	border-image: none;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 4px;
	width: 100%;
	background: transparent;
	text-align: left;
}

input:focus,
textarea:focus {
	outline: none;
}

.element--opacity {
	opacity: .5;
}

.snippet-break-words {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


/**********
 * Header *
 **********/

#head {
	min-height: var(--headerHeight);

	display: flex;
	justify-content: space-between;

	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	background: var(--primaryBackgroundColor);
	color: var(--primaryTextColor);

	z-index: 3000;
	height: var(--headerHeight);

	width: 100%;

	position: fixed;
	top: 0;
}

#head a {
	color: var(--primaryTextColor);
}

#head.head--ribbon {
	background: rgba(0, 150, 136, 0);
}


#head-logo {
	background: url(../images/logo.svg) no-repeat center center;
	background-size: 30px;
	transition: background-size ease-in .2s;
}

#head-logo,
#head-logo:active {
	outline: none;
}

.menu--open #head-logo {
	background-size: 1px;
	transition: background-size ease-out .2s;
}

#head-logo::after {
	display: block;
	content: "arrow_back";
	font: 30px/60px "Material Icons";
	opacity: 0;
	pointer-events: none;
	transition: transform ease-in-out .2s, opacity ease-in-out .2s;
	transform: rotate(-180deg);
}

.menu--open #head-logo::after {
	opacity: 1;
	transform: rotate(0);
}



#head-back[href=""] {
	display: none !important;
}

/**
 * Hover elements with hover effect
 */
.head-element {
	transition: background-color ease-out .2s;
	width: var(--headerHeight);
	text-align: center;
	line-height: var(--headerHeight);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.head-element:hover {
	background-color: rgba(0, 0, 0, .05);
}

/**
 * Event button
 */
.head-user[data-feed-count]::after {
	content: attr(data-feed-count);
	color: #ffffff;
	background: #ff0000;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	display: block;
	width: 18px;
	line-height: 18px;
	border-radius: 50%;
	position: absolute;
	bottom: 10%;
	right: 10%;
	animation: bounceNotifyIn .3s ease-in-out;
}

.head-user[data-feed-count="0"]::after {
	display: none;
}

.head-user[data-feed-count] .head-events {
	text-shadow: 0 0 2px #ff0000;
	animation: feed-count 2s infinite ease-in;
}

.head-user[data-feed-count="0"] .head-events {
	text-shadow: none;
	animation: none;
}

@keyframes feed-count {
	0%, 100% { color: #ff4845 }
	50% { color: #ffffff }
}

/**
 * Profile button
 */
#head-user,
.head-left {
	display: flex;
	flex-flow: row nowrap;
}

.head-user {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	position: relative;
	width: 64px;
	align-items: center;
	justify-content: center;
}

.head-user:hover .head-dd-menu {
	max-height: 400px;
	transition-timing-function: cubic-bezier(.4, 0, .1, 1);
}

.head-user-photo-thumbnail {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
}

.head-user.__user-unauthorized {
	line-height: 48px;
}

#hatName,
#hatLogin {
	padding-right: 8px;
	max-width: calc(var(--userAreaWidthDesktop) - var(--userAreaPhoto));
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#hatLogin {
	font-weight: 300;
}

/**
 * Header drop-down menu
 */

.head-dd-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background: rgba(0, 0, 0, .8);
	color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s cubic-bezier(.1, 0, .4, 1);
	z-index: 999;
}

.head-dd-item {
	/*noinspection CssNoGenericFontName*/font-family: "Material Icons";
	font-size: 30px;
	line-height: 45px;
	padding: 0 12px;
	cursor: pointer;
	white-space: nowrap;
	display: block;
	text-align: left;
	position: relative;
}

.head-dd-item::before {
	content: attr(data-label);
	font: 16px Tahoma;
	line-height: 45px;
	display: block;
	position: absolute;
	right: 100%;
	transition: all .3s ease-out;
	overflow: hidden;
	width: 0;
	background: rgba(0, 0, 0, .8);

}

.head-dd-menu:hover {
	overflow: visible;
}

.head-dd-item:hover::before {
	width: 100px;
	padding: 0 14px;
}



/**
 * Authorize button (instead profile)
 */
.head-user-auth {
	line-height: var(--headerHeight);
	padding: 0 14px;
	font-size: 34px;
}

/****************
 * Content page *
 ****************/

/**
 * Ribbon
 */
.page-ribbon {
	width: 100%;
	background-color: #3F51B5;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.page-ribbon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse at 50% 50%, #0000 7%, #0006 45%, #0006 50%, #00000080 65%);
	z-index: 10;
}

.page-ribbon-image {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: center center no-repeat;
	background-size: cover;
}

.page-ribbon-inner {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgba(0, 0, 0, .4);
	text-align: center;
	margin: 50px auto;
	max-width: 85%;
	position: relative;
	z-index: 10;
}

.page-ribbon-inner h1 {
	font-size: 30px;
	line-height: 40px;
}

.page-ribbon-inner h2 {
	font-size: 18px;
	line-height: 20px;
	margin-top: 18px;
}

.page-ribbon-inner h3 {
	font-size: 14px;
	line-height: 18px;
	margin-top: 8px;
}

.page-ribbon-inner h1 *,
.page-ribbon-inner h2 *,
.page-ribbon-inner h3 * {
	color: inherit;
}

/**
 * Content
 */

.page-content {
	position: relative;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	flex-shrink: 0;
	z-index: 530;
	margin-top: var(--headerHeight);
}

.page-content-wrap {
	/*max-width: 1600px;*/
	position: relative;
	z-index: 535;
}

.page-content-menu {
	background: #ffffff;
}

.page-content-inner {
	padding: 28px;
	background: #fff;
	color: #424242;
}

.head--ribbon + .page-content {
	margin-top: 0 !important;
}

.head--ribbon + .page-content .page-ribbon {
	padding-top: 40px;
}

.page-content-menu,
.page-content-aside {
	flex-basis: 20%;
}

.main-menu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	list-style: none;
}

/*************
 * Main menu *
 *************/
.main-menu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	transition: padding-left .1s ease-in;
}

.head--ribbon + .page-content .page-content-menu,
.head--ribbon + .page-content .page-content-aside {
	margin-top: 20px;
}

.main-menu a:hover {
	background: rgba(0, 150, 136, 0.1);
	padding-left: 20px;
}

/**********
 * Footer *
 **********/
footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 32px 16px;
	color: #9e9e9e;
	background-color: #424242;
}

.footer-left {
	display: inline-block;
	order: 0;
}

.footer-right {
	display: inline-block;
	order: 1;
}

.footer-logo {
	line-height: 36px;
	float: left;
	margin-bottom: 0;
	margin-right: 16px;
	color: #ffffff;
}

footer ul {
	display: flex;
	flex-flow: row nowrap;
	list-style: none none;
	margin: 0;
	padding: 0;
}

footer li {
	line-height: 36px;
	margin-bottom: 0;
	margin-right: 16px;
}

footer li a {
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
}

@media screen and (min-width: 900px) {
	.page-ribbon-inner {
		margin: 85px auto;
		max-width: 64%;
	}

	.page-content-wrap {
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
	}

	.page-content-wrap,
	.page-content-inner {
		transition: width .15s ease-out;
	}

	.page-ribbon + .page-content-wrap {
		margin-top: -20px;
	}

	.page-ribbon[hidden] + .page-content-wrap {
		margin-top: 0;
	}

	.page-content-inner {
		border-radius: 2px;
		padding: 40px 56px 80px;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .1), 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .2);
		width: calc(85% - 16px);
		margin: 0 auto 80px;
	}

	.page-ribbon-inner h1 {
		font-size: 36px;
		line-height: 40px;
	}

	.page-ribbon-inner h2 {
		font-size: 22px;
		line-height: 24px;
		margin-top: 18px;
	}

	.page-ribbon-inner h3 {
		font-size: 18px;
		line-height: 24px;
		margin-top: 8px;
	}
}

@media screen and (max-width: 900px) {
	.page-content-menu {
		position: fixed;
		left: 0;
		width: 260px;
		z-index: 9999;
		bottom: 0;
		height: calc(100% - 60px);
		box-shadow: #0006 0 0 8px;
		transform: translateX(-105%);
		transition: transform ease-out .2s;
	}

	.menu--open .page-content-menu {
		transform: translateX(0);
	}

	.menu--open #head {
		background: #009688 !important;
		box-shadow: rgba(0, 0, 0, .4) 0 0 4px !important;
		transition: background ease-out .1s;
	}
}

@media screen and (min-width: 1200px) {
	/*.page-content-inner {
		width: calc(66.66666667% - 16px);
	}*/
}

/**
 * Text
 */

h3, h4, h5, h6 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h3, h4 {
	font-weight: 400;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}

h3 {
	font-size: 1.8em;
	line-height: 40px;
	margin: 0 0 16px;
}

h4 {
	font-size: 1.4em;
	line-height: 32px;
	margin: 24px 0 16px;
	color: #424242;
}

h5, h6 {
	margin: 20px 0 16px;
}

h5 {
	font-size: 1.26em;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
	color: #424242;
}

@media screen and (max-width: 580px) {
	h3 { font-size: 1.5em; margin: 0 0 12px; line-height: 28px; }
	h4 { font-size: 1.4em; }
}

/**********
 * Loader *
 **********/

.round-loader {
	background: url("data:image/svg+xml,%3Csvg fill='%23000000' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
	background-size: 45px 45px;
	width: 45px;
	height: 45px;
}

.round-loader--large {
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}

.round-loader--small {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
}

.round-loader--center {
	margin-left: auto;
	margin-right: auto;
}

.round-loader--v50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

/*********
 * Toast *
 *********/
.toast {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	cursor: default;
	background-color: rgb(50, 50, 50);
	z-index: 2000;
	display: flex;
	justify-content: space-between;
	will-change: transform;
	transform: translate(0, 80px);
	transition: transform .25s cubic-bezier(.4, 0, 1, 1);
	pointer-events: none;
}

.toast--active {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	pointer-events: auto;
	transition: transform .25s cubic-bezier(0, 0, .2, 1);
}

.toast-text {
	padding: 14px 12px 14px 24px;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	float: left;
}

.toast-action {
	background: transparent;
	border: none;
	color: var(--secondaryBackgroundColor);
	float: right;
	padding: 14px 24px 14px 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	align-self: center;
	opacity: 1;
	pointer-events: auto;
}

.toast-action:empty {
	opacity: 0;
	pointer-events: none;
}

@media screen and (min-width: 480px) {
	.toast {
		min-width: 288px;
		max-width: 568px;
		width: auto;
		left: 50%;
		border-radius: 2px;
		-webkit-transform: translate(-50%, 80px);
		transform: translate(-50%, 80px);
	}

	.toast--active {
		transform: translate(-50%, 0);
	}
}


/**************
 * Index page *
 **************/

.index--body .page-ribbon-inner {
	width: 80%;
}

/**
 * Counts
 */
.index-counts {
	margin: 0 auto 10px;
	display: flex;
	flex-flow: nowrap column;
	text-align: left;
}

.index-count {
	box-sizing: border-box;
	text-align: center;
}

.index-count-label {
	color: #e0e0e0;
	margin: 5px 0 16px;
	font-size: 18px;
}

.index-count-number {
	color: #ffffff;
	margin: 10px 0 5px;
	font-size: 46px;
}

.index-count-verbose {
	display: flex;
	flex-flow: row nowrap;
}

.index-count-verbose .index-count {
	width: 50%;
}

@media screen and (max-width: 600px) {
	.index-counts {
		width: 90%;
	}

	.index-count {
		min-width: 75px;
	}

	.index-count-label {
		margin: 5px 0 4px;
		font-size: 14px;
	}

	.index-count-number {
		margin: 14px 0 4px;
		font-size: 26px;
	}

}

.index--body .page-ribbon::before {
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0.4) 45%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 65%)
}

/** Targets **/

.index-target {
	margin-top: 15px;
	display: flex;
	flex-flow: row nowrap;
}

.index-target + .index-target {
	margin-top: 0;
}

.index-target .material-icons {
	display: block;
	font-size: 32px;
	line-height: 40px;
	transition: transform ease-in .2s;
}

.index-target-link {
	line-height: 20px;
	padding: 0 0 8px;
}

.index-target-link:hover .material-icons {
	transform: scale(1.2);
}

.index-target-divider {
	border-left: 1px solid #888888;
	width: 0;
	margin: 0 32px;
}

.index-target-search,
.index-target-map {
	flex: 1;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	text-align: center;
}

.index-target-map {
	background: url(/images/index-target-map.png) no-repeat center center;
	background-size: 100%;
	color: #ffffff;
	position: relative;
	transition: background-size ease-in .2s;
}

@media screen and (max-width: 600px) {
	.index-forms {
		flex-direction: column;
	}

	.index-target-divider {
		display: none;
	}
}


/**************
 * Sight page *
 **************/
.sight--verified .page-ribbon-inner h1{
	color: #ffffff;
}

.sight--withCity .page-ribbon-inner h2 {
	color: #eaeaea;
}

.sight--withCity .page-ribbon-inner h3 {
	color: #e8e8e8;
	font-size: .8em;
}

.sight--archived .page-content {
	filter: grayscale(40%);
}

.sight--archived .page-ribbon {
	filter: grayscale(100%);
}

.sight--archived .page-ribbon-image {
	filter: blur(4px);
}

/*noinspection CssNoGenericFontName*/
.sight--verified .page-ribbon-inner h1::after {
	content: "beenhere";
	font-family: "Material Icons";
	color: var(--primaryBackgroundColor);
	font-size: .75em;
	vertical-align: middle;
	margin-left: 8px;
}


/*noinspection CssNoGenericFontName*/
.sight--withCity .page-ribbon-inner h2::before {
	content: "place";
	font-family: "Material Icons";
	color: inherit;
}

/** Mark list **/
.sight-marks-list {
	margin-bottom: 14px;
}

.sight-marks-list a {
	display: inline-block;
	padding: 0 12px;
	line-height: 28px;
	/*noinspection CssUnresolvedCustomProperty*/
	border: 2px solid var(--colorMark);
}

.sight-mark-item-colorized {
	/*noinspection CssUnresolvedCustomProperty*/
	color: var(--colorMark);
	margin-top: 8px;
	margin-right: 8px;
	border-radius: 16px;
	line-height: 32px;
}

.sight-meta {
	color: #9e9e9e;
}

/**********
 * Rating *
 **********/

.sight-rating {
	display: flex;
}

.sight-rating strong {
	flex: 1;
	text-align: center;
	line-height: 36px;
}

.sight-rating--setter {
	min-width: 36px !important;
	width: 36px;
	padding: 0 15px;
}

.site--user-passerby .sight-rating--setter {
	display: none;
}

.sight-rating[data-user="-1"] .sight-rating--setter[data-value="down"] {
	color: red;
}

.sight-rating[data-user="1"] .sight-rating--setter[data-value="up"] {
	color: green;
}



/***************
 * Visit state *
 ***************/
.sight-visitState-line {
	display: flex;
	flex-flow: row nowrap;
	/*border: 1px solid var(--primaryBackgroundColor);*/
	border-radius: 4px;
	width: 300px;
	box-sizing: border-box;
}

.button.sight-visitState-unit {
	width: 100px;
	border-radius: 0;
	height: auto;
	padding: 6px 6px 0;
	color: var(--primaryBackgroundColor);
	font-weight: 100;
}

.button.sight-visitState-unit.sight-visitState-notInterested {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
}

.sight-visitState-unit.sight-visitState-notInterested span {
	font-size: 16px;
	margin-right: 10px;
}

.sight-visitState-unit span {
	display: block;
	font-size: 20px;
	line-height: 20px;
}

.sight-visitState-unit var {
	font-style: normal;
}

.sight-visitState-unit .material-icons {
	vertical-align: middle;
}

.sight-visitState[data-visit-state="0"] [data-visit-state="0"],
.sight-visitState[data-visit-state="1"] [data-visit-state="1"],
.sight-visitState[data-visit-state="2"] [data-visit-state="2"] {
	color: var(--secondaryBackgroundColor);
}

.sight-visitState[data-visit-state="3"] [data-visit-state="3"] {
	color: red;
}

.site--user-passerby .sight-visitState-unit {
	cursor: default;
}

.site--user-passerby .sight-visitState-unit:hover {
	background: none !important;
}

.sight-actions button,
.sight-actions a {
	display: block !important;
	width: 100%;
	text-align: left !important;
}

/*noinspection CssNoGenericFontName*/
.sight-action-verify::before,
.sight-action-archive::before,
.sight-action-move::before,
.sight-action-edit::before,
.sight-action-report::before,
.sight-action-remove::before {
	margin-right: 4px;
	font-family: "Material Icons";
	font-size: 20px;
	vertical-align: middle;
}

.sight-action-verify::before { content: "beenhere"; }
.sight-action-archive::before { content: "archive"; }
.sight-action-move::before { content: "where_to_vote"; }
.sight-action-edit::before { content: "edit"; }
.sight-action-report::before { content: "report_problem"; }
.sight-action-remove::before { content: "delete"; }

.sight-action-verify::after,
.sight-action-archive::after {
	content: "нет";
	display: inline;
}

.sight-action-verify[data-now-state="1"]::after,
.sight-action-archive[data-now-state="1"]::after {
	content: "есть";
}


/** Right-hand block */
.sight-aside {
	float: right;
	margin-left: 22px;
}

.sight-mapThumbnail-link {
	width: 300px;
	height: 300px;
	display: block;
}

.sight-mapThumbnail-link img {
	max-width: 100%;
}

.singleListPlace-wrap {
	clear: both;
	display: flex;
	flex-flow: column nowrap;
}

.singleListPlace-item,
.mark-item {
	display: block;
	text-decoration: none;
	margin: 16px 0 8px;
}

@media screen and (max-width: 680px) {
	.sight-aside {
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.sight-information {
		display: flex;
		flex-flow: column nowrap;
	}

	.sight-description, .sight-rating, .sight-marks-list, .sight-meta { order: -2 }

	.sight-aside {
		margin: 15px auto 6px;
	}
}







@media screen and (min-width: 750px) {
	.singleListPlace-wrap {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.singleListPlace-item {
		width: 45%;
	}
}

.singleListPlace-item h5,
.mark-item h5 {
	margin: 0 0 4px;
}

.suggestPlace-distance {
	color: #555555;
	float: right;
	margin-left: 12px;
	font-size: 14px;
}

.singleListPlace-item p,
.mark-item .mark-count {
	color: #555555;
	font-size: small;
}

.mark-item-thumbnail {
	width: 26px;
	height: 26px;
	float: left;
	border-radius: 30px;
	margin: 8px 8px 8px 0;
}

/****************
 * Profile page *
 ****************/
.profile-info {
	text-align: center;
	margin-bottom: 36px;
}

.profile-info::after {
	content: "";
	height: 0;
	display: block;
	clear: both;
	position: relative;
}

.profile-photo {
	width: 120px;
	height: 120px;
	background: no-repeat center;
	background-size: cover;
	border-radius: 75px;
	margin: 0 auto 16px;
}

@media screen and (min-width: 500px) {
	.profile-photo {
		margin: -73px 24px 0 0;
		float: left;
		width: 150px;
		height: 150px;
	}

	.profile-info {
		text-align: left;
	}
}

/*******************
 * Comments widget *
 *******************/
.comments-items {
	display: flex;
	flex-flow: column nowrap;
}

.comments-items:empty::after {
	content: attr(data-empty-label);
	display: block;
	text-align: center;
	padding: 40px 18px;
	color: var(--colorTextLabel);
}

.comment-form {
	display: flex;
	align-content: stretch;
	flex-flow: row nowrap;
	width: 100%;
}

.comment-form .fi-wrap {
	width: 100%;
}

.comment-form .fi-wrap textarea {
	border: none;
	resize: vertical;
	height: 50px;
	min-height: 50px;
	max-height: 120px;
	border-right: 1px solid #eaeaea
}

.comment-form input[type="submit"] {
	font-family: "Material Icons", serif;
	font-size: 28px;
	display: block;
	height: auto !important;
	align-self: stretch;
}

.comment-item {
	display: flex;
	align-items: center;
	line-height: 20px;
	font-size: 16px;
	padding: 10px;
}

.comment-author-photo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 25px;
	margin-right: 16px;
	background-size: cover;
	background-position: center;
}

.comment-author-name {
	color: #757575;
	margin: 0;
}

.comment-text {
	font-size: 14px;
	line-height: 18px;
}

.comment-footer {
	font-size: 11px;
}

.comment-action {
	cursor: pointer;
}




/**************
 * Form input *
 **************/
.fi-wrap {
	position: relative;
	padding-top: 16px;
	margin: 6px 0;
}

.fi-wrap:first-child {
	margin-top: 0;
}

.fi-wrap * {
	line-height: 30px;
	padding: 0 8px;
	font-size: 14px;
}

.fi-wrap label {
	position: absolute;
	left: 0;
	top: 18px;
	cursor: text;
	pointer-events: none;
	color: #9e9e9e;
	transition: all .1s ease-out;
	transform-origin: left;
	white-space: nowrap;
}

.fi-wrap input,
.fi-wrap textarea,
.fi-wrap select,
.fi-wrap .fi-handle {
	width: 100%;
	padding: 0 8px !important;
	border: 1px solid var(--primaryBackgroundColor) !important;
	resize: none;
	background: transparent;
	line-height: 32px;
	height: 32px;
}

.fi-wrap textarea {
	height: 100px;
	line-height: 20px;
	padding: 6px 8px !important;
}


.fi-wrap input:focus + label,
.fi-wrap textarea:focus + label,
.fi-wrap input:valid + label,
.fi-wrap textarea:valid + label,
.fi-wrap select + label,
.fi-wrap .fi-handle + label {
	transform: translate(0, -26px) scale(.8);
	color: var(--primaryBackgroundColor);
}

.fi-wrap .fi-handle.fi-handle-nonEmpty:empty + label {
	transform: none;
	color: #9e9e9e;
}

.fi-wrap input:invalid,
.fi-wrap textarea:invalid {
	box-shadow: none;
}

.fi-label {
	color: var(--primaryBackgroundColor);
	line-height: 24px;
	font-size: 11px;
	padding: 0 8px;
}

.fi-center input {
	text-align: center;
}

.fi-center label {
	left: 50%;
	transform: translate(-50%, 0);
}

.fi-center input:focus + label,
.fi-center textarea:focus + label,
.fi-center input:valid + label,
.fi-center textarea:valid + label,
.fi-center select + label {
	transform: translate(-50%, -26px);
	font-size: .72em;
	transform-origin: center;
	color: var(--primaryBackgroundColor);
}

.fi-handle {
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

[data-empty]:empty::before {
	content: attr(data-empty);
	display: inline;
	pointer-events: all;
}


/********
 * List *
 ********/
.search-items {
	padding: 0;
	counter-reset: item;
}

.search-items > li {
	list-style-type: none;
	counter-increment: item;
}

.search-items > li::before {
	float: left;
	width: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	border: 3px solid var(--secondaryBackgroundColor);
	border-top: none;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	content: counter(item);
	margin: 0 6px 0 0;
	position: relative;
	background: white;
}

@media screen and (max-width: 500px) {
	.search-items > li::before {
		width: 23px;
		line-height: 20px;
		font-size: 11px;
		margin: 0 -20px 0 0;
	}

	.place-item-photo {
		width: 65px;
		height: 65px;
	}
}

/***************
 * Search page *
 ***************/
.search-systemMessage {
	margin: 60px 0;
	text-align: center;
	color: var(--colorTextLabel);
}

.search-item {
	margin: 16px 0;
	border-top: 3px solid var(--secondaryBackgroundColor);
}

.search-item h5 {
	line-height: 31px;
	display: inline-block;
	margin: 0;
}

.search-item h5 a {
	line-height: 31px;
}

.search-item h5::after { margin-left: 6px; }
.search-item h5::before { margin-right: 6px; }

.search-item ins {
	text-decoration: none;
	background: #ffff00;
	box-shadow: 0 0 3px #ffff00;
}

.search-item--verified h5::before,
.search-item--visited h5::after,
.search-item--desired h5::after {
	/*noinspection CssNoGenericFontName*/font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	color: var(--primaryBackgroundColor);
	font-size: .9em;
	letter-spacing: normal;
}

.search-item--verified h5::before {
	content: "beenhere";
}

.search-item--archived {
	filter: grayscale(.8);
	opacity: .5;
}

.search-item--visited h5::after {
	content: "check";
}

.search-item--desired h5::after {
	content: "directions_run";
}

.search-item-rating {
	margin: 5px 0;
}

.search-item-rating .material-icons {
	font-size: 19px;
	vertical-align: -4px;
}

.search-city-ribbon {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}


.place-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 1em;
}

.place-item-photo {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	margin: .2em 1em 0 0;
	background: #eaeaea;
}

.place-item-image {
	width: 100%;
	height: 100%;
	background: center no-repeat;
	background-size: cover;
}

.place-item-content {
	flex: 1;
}

/**************
 * Pagination *
 **************/
.pagination-wrap {
	display: flex;
	border-bottom: 3px dotted var(--primaryBackgroundColor);
}

.pagination-item {
	display: block;
	width: 50%;
	text-align: center;
}

.pagination-item[data-dir="+"]:first-child {
	margin-left: auto;
}






/*******
 * Map *
 *******/
.page--wide .page-content-inner {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.page--wide .page-content-wrap {
	height: 100%;
}

.page--wide footer {
	padding: 4px 12px;
	font-size: .8em;
}

#map {
	width: 100%;
	height: 100%;
	border: 1px solid #cacaca;
	background: linear-gradient(-45deg, transparent 0%, transparent 49%, #cacaca 50%, transparent 51%, transparent 100%);
	background-size: 100px 100px;
}

.map-filter {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.map-filter .fi-wrap {
	margin-top: 0;
	width: 49%;
}

/**
 * Colorized checkbox
 */
.fi-checkbox input[type="checkbox"],
.fi-checkbox input[type="radio"] {
	display: none;
}

.fi-checkbox-defaultColor {
	--colorMark: #000000;
}

.fi-checkbox {
	display: block;
	line-height: 30px;
	position: relative;
}

.fi-checkbox::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 0;
	z-index: 210;
	transition: all .15s ease-in-out;
}

.fi-checkbox:hover::before {
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, .2);
}

.fi-checkbox span::before {
	content: "";
	display: inline-block;
	border: 2px solid black;
	width: 16px;
	height: 16px;
	float: left;
	margin: 5px 14px 5px 0;
	position: relative;
	z-index: 220;
}

.fi-checkbox-colorized span {
	color: var(--colorMark, #000000);
}

.fi-checkbox-colorized span::before {
	border-color: var(--colorMark, #000000);
}

.fi-checkbox input[type="checkbox"] + span::after,
.fi-checkbox input[type="radio"] + span::after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 6px;
	border: 2px solid var(--colorMark, #000000);
	border-color: transparent black black transparent;
	width: 4px;
	height: 8px;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity .15s ease-in;
	z-index: 230;
}

.fi-checkbox-colorized input[type="checkbox"] + span::after,
.fi-checkbox-colorized input[type="radio"] + span::after {
	border-color: transparent var(--colorMark, #000000) var(--colorMark, #000000) transparent;
}

.fi-checkbox input[type="checkbox"]:checked + span::after,
.fi-checkbox input[type="radio"]:checked + span::after {
	opacity: 1;
}

/****************
 * Modal window *
 ****************/
.modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(0, 0, 0, .4);
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-opened {
	display: flex;
}

.modal-window {
	max-width: 800px;
	min-width: 400px;
	background: #ffffff;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
}

.modal-head {
	display: flex;
	line-height: 50px;
}

.modal-title {
	padding: 0 18px;
	margin: 0 0 8px;
	font-size: 21px;
	text-align: center;
	flex: 1 0 auto;
}

/*noinspection CssOverwrittenProperties*/
.modal-content {
	padding: 0 20px 14px;
	overflow: auto;
	max-height: 350px;
	max-height: 60vh;
	white-space: pre-wrap;
}

.modal-content-plain {
	padding: 12px 18px;
}

.modal-footer {
	padding: 0 12px 18px;
	text-align: right;
}

.modal-footer:empty {
	display: none;
}

.modal-confirm-footer {
	padding: 12px 0 0;
	text-align: right;
}

@media screen and (max-width: 500px) {
	.modal-window {
		width: 95%;
		min-width: 90%;
		max-width: 95%;
	}
}

/**
 * Manage map
 */

.page--manageMap .page-content-inner {
	padding: 0;
}

#manage-map {
	width: 100%;
	height: 300px;
	background: linear-gradient(-45deg, transparent 0%, transparent 49%, #cacaca 50%, transparent 51%, transparent 100%);
	background-size: 100px 100px;
}

.manage-content {
	padding: 20px 25px 40px;
}

.manage-photos-list {
	/*display: flex;
	flex-flow: row wrap;
	justify-content: space-between;*/
	overflow: hidden;
}

.manage-photos-list::after {
	/*content: "";
	flex: auto;*/
}

.manage-photo-item {
	width: 30%;
	height: 100px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, .15);
	position: relative;
	margin-left: 1.2%;
	margin-bottom: 10px;
	display: inline-block;
}

.manage-photo-item img {
	max-width: 100%;
	display: block;
}

.manage-photos-dropZone {
	height: 100px;
	border: 3px dotted var(--primaryBackgroundColor);
	position: relative;
}

.manage-photos-dropZone input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

/*.manage-photos-list:empty +*/ .manage-photos-dropZone::before {
	content: attr(data-label-empty);
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
}

.manage-photo-drop {
	position: absolute;
	top: 5px;
	right: 5px;
	font: 18px "Material Icons";
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	text-shadow: 0 0 6px rgba(0, 0, 0, .8);
	cursor: pointer;
}

.manage-footer {
	margin-top: 10px;
	text-align: center;
}

.manage-suggestions {
	margin: 0 16px;
}

@media screen and (min-width: 550px) {

	.manage-map-wrap {
		display: flex;
		flex-flow: row nowrap;
		height: 600px;
	}

	#manage-map {
		width: 50%;
		height: 100%;
	}

	.manage-content {
		padding: 20px 20px 40px;
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		overflow: auto;
		height: 100%;
	}
}

/*****************
 * Nearby places *
 *****************/
.suggestion-list {
	display: flex;
	flex-flow: column nowrap;
}

.suggestion-item {
	display: block;
	text-decoration: none;
	margin: 8px 0;
}

@media screen and (min-width: 750px) {
	.suggestion-list {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.suggestion-item {
		width: 48%;
	}
}

.suggestion-item h5 {
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.suggestion-item-distance {
	color: #7f7f7f;
	font-size: 12px;
}

.suggestion-item-actions {
	float: right;
}

.suggestion-makeParent {

}

/*********************
 * Userarea settings *
 *********************/
.userarea-photo-current {
	margin: 0 auto;
	width: 40%;
	line-height: 0;
}

.userarea-photo-current img {
	max-width: 100%;
}

.userarea-photo-change {
	margin: 10px 0;
}

#__userareaUpdatePhoto .manage-photos-dropZone {
	margin-top: 10px;
}

/********
 * Feed *
 ********/

.feed-item {
	display: flex;
	padding: 11px 0 10px;
	border-bottom: 1px dashed var(--secondaryBackgroundColor);
	border-left: 3px solid transparent;
}

.feed-item--new {
	border-left-color: var(--secondaryBackgroundColor);
}

.feed-left {
	max-width: 50px;
	display: block;
	height: 50px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.feed-left img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.feed-item-content {
	margin-left: 12px;
}


/**************
 * Login page *
 **************/
.login-wrap {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-wrap form {
	width: 320px;
	height: 320px;
	display: flex;
	padding: 0 15px;
	justify-content: center;
	border: 3px solid var(--secondaryBackgroundColor);
	border-radius: 320px;
	flex-flow: column nowrap;
}

.login-logo {
	text-align: center;
	color: var(--primaryBackgroundColor);
}

.login-logo .material-icons {
	font-size: 72px;
	color: var(--primaryBackgroundColor);
}

.login-logo-label {
	font-size: 24px;
}

.login-footer {
	text-align: center;
	height: 100px;
}

.slides-login {
	max-width: 400px;
	margin: 0 auto;
}

.slides-login a,
.slides-login button {
	display: block !important;
	color: inherit !important;
	width: 100%;
}

#slide-login-error {
	background: rgb(237, 113, 111);
	border: 2px solid rgb(237, 46, 46);
	line-height: 24px;
	padding: 6px 14px;
	margin-bottom: 6px;
}

#slide-login-error:empty {
	display: none;
}

code, pre {
	font-family: monospace;
	font-size: 0.90em;
}

#docs-result {
	white-space: pre-wrap;
	border: 1px dotted var(--secondaryBackgroundColor);
	-moz-tab-size: 4;
	tab-size: 4;
}

#docs-result:empty {
	display: none;
}

input[type="submit"].docs-submit--busy {
	background: rgba(255, 0, 0, .1) !important;
}

code em {
	font-weight: 900;
}

dd {
	margin-left: 50px;
	padding-bottom: 10px;
}

@media screen and (min-width: 700px) {
	dl {
		overflow: hidden;
	}

	dt {
		float: left;
		width: 200px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	dt, dd {
		border-top: 1px dotted var(--secondaryBackgroundColor);
		padding: 12px 0;
	}

	dd {
		margin-left: 200px;
		padding-left: 10px;
	}

	dt:first-child, dd:nth-child(2) {
		border-top: none;
	}
}

/***********
 * Spoiler *
 ***********/
.spoiler {
	border: 1px dotted var(--primaryBackgroundColor);
	margin: 10px 0;
}

.spoiler-head {
	cursor: pointer;
	line-height: 34px;
	padding: 0 14px 0 26px;
	position: relative;
}

.spoiler-head::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--primaryBackgroundColor);
	transition: transform .3s ease-in-out;
	transform-origin: 3px 10px;
	position: absolute;
	top: 7px;
	left: 10px;
}

.spoiler--open .spoiler-head {
	border-bottom: 1px dotted var(--primaryBackgroundColor);
}

.spoiler--open .spoiler-head::before {
	transform: rotate(90deg);
}

.spoiler-content {
	display: none;
	padding: 10px;
}

.spoiler--open .spoiler-content {
	display: block;
}

/******************
 * Neural network *
 ******************/
.neural-heightWideBlock {
	margin: 40px 0;
	padding: 0 24px;
	text-align: center;
}

.neural-heightWideBlock-icon {
	font-size: 3.5em;
	color: gray;
}





/************
 * Telegram *
 ************/
.telegram-code {
	width: 220px;
	font-size: 44px;
	text-align: center;
	margin: 20px auto;
}

.telegram-sendExample {
	max-width: 400px;
	width: 100%;
	display: block;
	margin: 4px auto;
}

/***************
 * Single form *
 ***************/
.singleForm-content {
	max-width: 400px;
	margin: 0 auto;
}

.singleForm-footer {
	text-align: center;
	margin: 6px 0 20px;
}

/**********
 * Paper *
 **********/
.bg-papers {
	position: relative;
}

.bg-papers-content,
.bg-papers::before,
.bg-papers::after {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, .1), 1px 1px 3px rgba(0, 0, 0, .2);
}

.bg-papers-content {
	position: relative;
	z-index: 570;
}

.bg-papers::before,
.bg-papers::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateZ(3deg);
	-o-transform: rotate(3deg);
	transform: rotateZ(3deg);
	z-index: 560;
	pointer-events: none;
}

.bg-papers::after {
	-webkit-transform: rotateZ(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotateZ(-3deg);
}

[hidden] {
	display: none !important;
}