@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../lib/baguetteBox.min.css");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	box-sizing: border-box;
}

:root {
	--headerHeight: 64px;
	--primaryBackgroundColor: #009688;
	--primaryTextColor: #FFFFFF;
	--secondaryBackgroundColor: #448AFF;
	--secondaryTextColor: #000000;
	--defaultBackgroundColor: #EFEFEF;
	--defaultTextColor: #000000;

	--colorTextLabel: #787878;
	--colorInfoBackNavigation: #979797;

	--userAreaPhoto: 48px;
	--userAreaWidthDesktop: 400px;
}

.material-icons {
	vertical-align: -5px !important;
	color: inherit;
}

html, body {
	height: 100%;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

a,
.a{
	color: var(--primaryBackgroundColor);
	text-decoration: none;
	cursor: pointer;
}

#head {
	min-height: var(--headerHeight);

	display: flex;
	justify-content: space-between;

	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	background: var(--primaryBackgroundColor);
	color: var(--primaryTextColor);

	z-index: 100099;
	height: 64px;
}

#head-logo {
	line-height: var(--headerHeight);
	font-size: 1.4em;
	font-weight: normal;
	padding: 0 18px;
	cursor: default;
	-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

#head-logo .material-icons {
	font-size: 34px;
	vertical-align: -9px !important;
}

/**
 * Hover elements with hover effect
 */
.head-element {
	transition: background-color ease-out .2s;
}

.head-element:hover {
	background-color: rgba(0, 0, 0, .05);
}

/**
 * Event button
 */
#head-events {
	line-height: var(--headerHeight);
	cursor: pointer;
	width: var(--headerHeight);
	text-align: center;
	position: relative;
}

#head-events[data-count]::after {
	content: attr(data-count);
	color: #ffffff;
	background: #ff0000;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	display: block;
	width: 18px;
	line-height: 18px;
	border-radius: 50%;
	position: absolute;
	bottom: 22%;
	right: 18%;
	animation: bounceNotifyIn .3s ease-in-out;
}

#head-events[data-count="0"]::after {
	display: none;
}

/**
 * Profile button
 */
#head-user {
	display: flex;
	flex-flow: row nowrap;
}

.head-user {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	position: relative;
}

.head-user:hover .head-dd-menu {
	max-height: 400px;
	transition-timing-function: cubic-bezier(.4, 0, .1, 1);
}

.head-user-photo {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-left: 8px;
}

.head-user-info {
	line-height: 24px;
	text-align: right;
	display: none;
}

.head-user.__user-unauthorized {
	line-height: 48px;
}

#hatName,
#hatLogin {
	padding-right: 8px;
	max-width: calc(var(--userAreaWidthDesktop) - var(--userAreaPhoto));
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#hatLogin {
	font-weight: 300;
}

.head-dd-menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s cubic-bezier(.1, 0, .4, 1);
	z-index: 999;
}

.head-dd-item {
	line-height: 45px;
	padding: 0 12px;
	cursor: pointer;
}

/**
 * Authorize button (instead profile)
 */
.head-user-auth {
	line-height: var(--headerHeight);
	padding: 0 14px;
}

/**
 * Place page
 */
.info-map {
	float: right;
	display: block;
	margin-left: 22px;
}

.info-map {
	width: 300px;
	height: 300px;
}


.suggestPlace-list {
	clear: both;
	display: flex;
	flex-flow: column nowrap;
}

.suggestPlace,
.mark-item {
	display: block;
	text-decoration: none;
	margin: 16px 0 8px;
}

@media screen and (min-width: 750px) {
	.suggestPlace-list {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.suggestPlace {
		width: 45%;
	}
}

.suggestPlace h5,
.mark-item h5 {
	margin: 0 0 4px;
}

.suggestPlace-distance {
	color: #555555;
	float: right;
	margin-left: 12px;
	font-size: 14px;
}

.suggestPlace p,
.mark-item .mark-count {
	color: #555555;
	font-size: small;
}

.mark-item-thumbnail {
	width: 26px;
	height: 26px;
	float: left;
	border-radius: 30px;
	margin: 8px 8px 8px 0;
}

/**
 * Profile
 */
.profile-info {
	overflow: hidden;
	text-align: center;
}

.profile-photo {
	width: 120px;
	height: 120px;
	background: no-repeat center;
	background-size: cover;
	border-radius: 75px;
	margin: 0 auto 16px;
}

.profile-login {
	margin-top: 12px;
}

.profile-fullName {
	margin-top: 12px;
}

.profile-lastSeen {
	font-size: small;
	color: #808080;
}

@media screen and (min-width: 500px) {
	.profile-photo {
		margin: 0 24px 0 0;
		float: left;
	}

	.profile-info {
		text-align: left;
	}
}

/**
 *
 * Comments widget
 *
 */
.comments-items {
	display: flex;
	flex-flow: column nowrap;
}

.comments-items:empty::after {
	content: attr(data-empty-label);
	display: block;
	text-align: center;
	padding: 40px 18px;
	color: var(--colorTextLabel);
}

.comment-form {
	display: flex;
	border-top: 1px solid #eaeaea;
	align-content: stretch;
	flex-flow: row nowrap;
}

.comment-form textarea {
	border: none;
	resize: vertical;
	height: 50px;
	min-height: 50px;
	max-height: 120px;
	border-right: 1px solid #eaeaea
}

.comment-form input[type="submit"] {
	font-family: "Material Icons", serif;
	font-size: 28px;
	display: block;
	height: auto !important;
	align-self: stretch;
}

.comment-item {
	display: flex;
	align-items: center;
	line-height: 20px;
	font-size: 16px;
	padding: 10px;
}

.comment-author-photo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 25px;
	margin-right: 16px;
	background-size: cover;
}

.comment-author-name {
	color: #757575;
	margin: 0;
}

.comment-text {
	font-size: 14px;
	line-height: 18px;
}

.comment-footer {
	font-size: 11px;
}











/**
 * Map
 */
#map {
	width: 100%;
	min-height: 650px;
	height: 65vh !important;
	border: 1px solid #cacaca;
	background: linear-gradient(-45deg, transparent 0%, transparent 49%, #cacaca 50%, transparent 51%, transparent 100%);
	background-size: 100px 100px;
}

#manage-map {
	width: 100%;
	min-height: 320px;
	height: 40vh !important;
	border: 1px solid #cacaca;
	background: linear-gradient(-45deg, transparent 0%, transparent 49%, #cacaca 50%, transparent 51%, transparent 100%);
	background-size: 100px 100px;
}

@media screen and (min-width: 800px) {
	.manage-map-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	#manage-map {
		width: 50%;
		height: 100%;
		min-height: 450px;
	}

	.manage-content {
		padding: 0 0 0 40px;
		flex: 1;
	}

	.manage-content h4 {
		margin: 10px 0 0;
	}

	.manage-content h4:first-child {
		margin-top: 0;
	}

}