RewriteEngine On
RewriteRule ^api/v2/(.*)$ api.php?method=$1 [L,QSA]

RewriteRule ^map/?$ route.php?r=map [L,QSA]
RewriteRule ^place/(.+)$ /sight/$1 [R=307,L,QSA] # back compability
RewriteRule ^sight/(\d+|random|search|add)(/(edit|report))?$ route.php?r=place&id=$1&action=$3 [L,QSA]
RewriteRule ^marks$ route.php?r=marks [L,QSA]
RewriteRule ^userarea/(create|edit|activation|vk|telegram)$ route.php?r=userarea&id=$1&action=$1 [L,QSA]
RewriteRule ^user/(\d+|[A-Za-z0-9_.]{2,32})(/(places|report))?$ route.php?r=user&sub=$3&id=$1 [L,QSA]
RewriteRule ^login$ route.php?r=login [L,QSA]
RewriteRule ^feed$ route.php?r=feed [L,QSA]
RewriteRule ^docs(/([A-Za-z./]+))?$ route.php?r=docs&action=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^$ route.php?r=index [L,QSA]